/* Transition */

.fade-in {
    @include mui-fade(in, $duration: 10s);
  }

  /* Component */

.component-pre {
    opacity: 0;
  }
  
  .component {
    opacity: 1;
    transition: all ease-in 1s;
  }


/* ABOUT */

.about {
    background-color: rgba(136, 151, 167, 0.4);
    margin: 0 auto;
    border: 2px solid salmon;
    border-radius: 8px;
    width: 65%;
    height: auto;
    display:flex;
    margin-top: 2%;
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    font-size: 1rem;
}

.about h4 {
    font-size: 1.5rem;
    margin-bottom: 1%;
}

.about p {
    margin-bottom: 1%;
}

.about-card{
    width: 33%;
    background-color: oldlace;
    border-right: 2px solid salmon;
}

.card-img{
    width: 40%;
    border: 1px solid black;
    margin: 1% auto;
}

.card-text {
    font-style: italic;
    margin-top: 0.5%;
}

.about-right{
    width: 67%;
}

.links {
    width: 100%;
    margin: 2%;
    display: flex;
    justify-content: space-around;
}

.mission{
    width: 85%;
    height: auto;
    margin: 1% auto;
    margin-top: 2%;
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    font-size: 1rem;
    padding: 2%;
    border-radius: 8px;
    background-color: oldlace;
    border: 1px solid salmon;
}

.icon {
    border-radius: 25px;
    background-color: oldlace;
    box-shadow: 0px 0px 0px 3px oldlace;
    transition: box-shadow 0.6s linear;
    margin: 0.5em; /* Increased margin since the box-shado expands outside the element, like outline */
  }
  
  .icon:hover { 
    box-shadow: 0px 0px 0px 5px oldlace;
 }

/* Projects */

.projects {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 70%;
    height: auto;
    border: 2px solid salmon;
    background-color: rgba(136, 151, 167, 0.4);
    margin: 0 auto;
    border-radius: 8px;
    font-family: 'Roboto Mono', monospace;
    margin-top: 2%;
}

.carousel-inner img {
    display: flex;
    margin: 1% auto;
    height: 50%;
    width: 30%;
}

.carousel-inner p {
    color: black;
    margin: 1% auto;
}

.carousel-inner h1 {
    color: black;
    margin: 1% auto;
}

.project-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3% auto;
    padding: 2%;
    margin-left: 10%;
    margin-right: 10%;
    border: 1px solid oldlace;
    border-left: none;
    border-right: none;
    border-radius: 10px;
}

.project-box {
    width: 20%;
    height: 20%;
    border-radius: 8px;
    margin: 1%;
}

.project-img {
    width: 100%;
    height: 100%;
    border: 1px solid salmon;
    border-radius: 8px;
}

.project-card {
    margin-top: 1%;
    border: 1px solid salmon;
    border-radius: 8px;
    background-color: oldlace;
}

/* Contact */

.contact {
    background-color: rgba(136, 151, 167, 0.4);
    margin: 0 auto;
    border: 2px solid salmon;
    border-radius: 8px;
    width: 65%;
    height: auto;
    display:flex;
    margin-top: 2%;
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    font-size: 1rem;
}

.test-mailing {
    margin: 3% auto;
}

.test-mailing h1 {
    font-size: 1.3rem;
}

.test-mailing textarea {
    margin: 1% auto;
    border: 1px solid salmon;
    border-radius: 5px;
}

.test-mailing .btn {
    margin-top: 3%;
}



@media (max-height: 700px) {
    .about {
        margin-top: 1%;
    }
}

@media (max-width: 1640px){
    .card-title{
        margin-top: 1%;
        margin-bottom: 10%;
        text-align: center;
    }

    .card-text{
        text-align: center;
        margin: 3% auto;
    }
}

@media (max-width: 1286px){
    .card-img{
        width: 50%;
    }
    .about-right{
        padding-bottom: 3%;
    }
}

@media (max-width: 1050px){
    .card-img{
        width: 60%;
        margin-top: 3%;
    }

    .about-right{
        padding-bottom: 3%;
    }
}

@media (max-width: 945px){
    .component-gradient{
        padding-top: 7%;
        padding-bottom: 7%;
        height: 100%;
    }
    .about{
        flex-direction: column;
        width: 80%;
        height: 100%;
    }
    .about-card{
        width: 60%;
        margin: 2% auto;
        border: none;
    }
    .about-right{
        width: 100%;
        margin: 1% auto;
    }
    .projects{
        flex-direction: column;
        height: 100%;
        width: 85%;
    }

    .carousel-inner img {
        width: 90%;
    }
    
    .carousel-inner p {
        color: black;
    }
    
    .carousel-inner h1 {
        color: black;
    }
    
    .project-info {
        padding: 5%;
        margin-top: 5%;
        margin-bottom: 40%;
    }
}

@media (max-width: 935px){
    .card-img{
        width: 70%;
    }

    .about-right{
        padding-bottom: 3%;
    }
}

@media (max-height: 900px) {
    .component {
        height: 60%;
    }
}

@media (max-width: 415px){
    .about-card {
        width: 90%;
    }
    .about-right{
        width: 100%;
    }
  }